<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->

  <appSettings>
    <!-- for local host-->
    <!--<add key="DBServer" value="xruDuLPe1c1qybkQR5rZoQ==" />
    <add key="user" value="YBFBCxaIA8e5G+nEICNSjg==" />
    <add key="Pwd1" value="OHd0R/Dm0hOanS7b4s9kCQ==" />
    <add key="Pwd2" value="v6fQDgMl23FNSmxZwUAapA==" />-->
    <!--for ali db server-->
    <!--
    <add key="DBServer" value="2pPlNHoBWGgNkyzxUwi43w==" />
    <add key="user" value="YBFBCxaIA8e5G+nEICNSjg==" />
    <add key="Pwd1" value="AP8P2INJUI8OupXX7bLJFA==" />
    <add key="Pwd2" value="WrLnmbywlES5ohRKc/C0UA==" />
    -->

    <add key="DBServer" value="C2wRuCLKP1zalpTbu5bULg==" />
    <add key="user" value="MAFyTUcPsx2vnEIe6mYVFw==" />
    <add key="Pwd1" value="AP8P2INJUI8OupXX7bLJFA==" />
    <add key="Pwd2" value="WrLnmbywlES5ohRKc/C0UA==" />

    <!--for tx db server-->


    <!--<add key="DBServer" value="JZn7sZ7LFRsI4+H1UYvAiA==" />
    <add key="user" value="MAFyTUcPsx2vnEIe6mYVFw==" />
    <add key="Pwd1" value="AP8P2INJUI8OupXX7bLJFA==" />
    <add key="Pwd2" value="WrLnmbywlES5ohRKc/C0UA==" />-->



    <add key="CurlPath" value="E:\tools\ticon\curl-7.60.0\I386\CURL.EXE" />
    <add key="APPID" value="wx50bda10e0871de66" />
    <add key="Secret" value="7c3cec02f4b5ba94343980a4645954e1" />
    <add key="FFMPEGPath" value="E:\ffmpeg-3.2-win64-static\bin\ffmpeg.exe" />
    <add key="FFMPEGPathBK" value="E:\ffmpeg-3.2-win64-staticbk\bin\ffmpeg.exe" />
    <add key="Disk" value="E" />
    <add key="hostName" value="http://localhost:8888" />
    <add key="robotPicPath" value="E:\duitangImg\Imgs\" />
    <add key="origPath" value="E:\MyMVCProj\MyMVCProj\MyMVCProj\images\original\" />
    <add key="simpPath" value="E:\MyMVCProj\MyMVCProj\MyMVCProj\images\simple\" />
    <add key="rootFolder" value="E:\MyMVCProj\MyMVCProj\MyMVCProj\" />
    <add key="avatarList" value="‪E:\scrapy\wbavatar\avatar.xlsx" />
    <add key="jtList" value="‪E:\scrapy\jtSpider\jt.xlsx" />
    <add key="avatarPic" value="E:\wbavatar" />
    <add key="catFace" value="E:\MyMVCProj\MyMVCProj\MyMVCProj\haarcascade_frontalcatface.xml" />
  </appSettings>

</configuration>